@font-face {
    font-family: 'Black Jack';
    src: url('BlackJack.woff2') format('woff2'),
        url('BlackJack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

